[user]
	name = TrAyZeN

[init]
	defaultBranch = master

[alias]
# Shorter aliases
	a = add
	s = status
	d = diff
	dc = diff --cached
	b = branch
	co = commit
	com = commit -m
	ch = checkout
# Useful aliases
	lg = log --all --oneline --graph --decorate
	lgv = log --graph --pretty=format:'%C(yellow)%h%Creset -%C(cyan)%d%Creset %s %C(bold blue)<%an>%Creset %Cgreen(%cr)' --abbrev-commit
	uncommit = reset --soft HEAD~1

[core]
	editor = nvim

[merge]
	tool = vimdiff

[push]
	followTags = true
