! -------------------- !
!     Theme colors     !
! -------------------- !

*.foreground:	#dde9ed
*.background:	rgba:0000/0000/0000/dddd
*.cursorColor:	#ffe9d9

! black
*.color0:		#131415
*.color8:		#131415

! red
*.color1:		#b31024
*.color9:		#b31024

! green
*.color2:		#62d56c
*.color10:		#62d56c

! yellow
*.color3:		#f4ca40
*.color11:		#f4ca40

! blue
*.color4:		#4a81c3
*.color12:		#4a81c3

! magenta
*.color5:		#864ca1
*.color13:		#864ca1

! cyan
*.color6:		#5cd8d5
*.color14:		#5cd8d5

! white
*.color7:		#fff8e8
*.color15:		#fff8e8


! -------------------- !
!     urxvt config     !
! -------------------- !

urxvt.depth: 32

urxvt.font: xft:Roboto Mono:size=12

urxvt.letterSpace:              0
urxvt.lineSpace:                0
urxvt.boldMode:                 on
urxvt.colorMode:                on
urxvt.colorBDMode:              on
urxvt.colorULMode:              on
urxvt.underline:                on
urxvt.saveLines:                10000
urxvt.scrollBar:                false
urxvt.internalBorder:           10
urxvt.url-select.underline:     true
urxvt.unerlineURLs:             true
urxvt.urlButton:                1

!! Perl extensions
urxvt.perl-ext-common:			default,matcher,font-size,clipboard
urxvt.keysym.Control-0x2b:		perl:font-size:increase
urxvt.keysym.Control-0x2d:		perl:font-size:decrease
urxvt.copyCommand:				xclip -i -selection clipboard
urxvt.pasteCommand:				xclip -o -selection clipboard
urxvt.keysym.Control-Shift-c:	perl:clipboard:copy
urxvt.keysym.Control-Shift-v:	perl:clipboard:paste

